# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
# /node_modules
/node_modules/.bin/gh-pages
/node_modules/.bin/gh-pages-clean
/node_modules/base64url/
/node_modules/gh-pages/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# bydeveloper
/_assets
/README_old.md