#preview{
    margin-bottom: 20px;
    border: 1px solid rgba(3, 169, 244, .25);;
    padding:20px;
}

#preview h1{
    font-size: 175%;
    margin-bottom: 20px;
}
#preview h5{
    font-weight: 300;
}

#preview .site-title{
    font-weight: 300;
}

#preview .site-url{
    color: blue;
}

