.share-button{
    /* border: 1px solid lightyellow; */
    /* text-align: center; */
    cursor: pointer;
}

.share-button .icon{
    width: 113px;
    height: 123px;
    margin:0px;
    padding:0px;
    background-repeat: no-repeat;
}

.facebook{
    background-position: -230px -284px;
}

.twitter{
    background-position: -386px -284px;
}

.googleplus{
    background-position: -544px -284px;
}

.linkedin{
    background-position: -700px -284px;
}

.whatsapp{
    background-position: -544px -445px;
}

